<header class="header">
  <div class='header-top'>
    <%= link_to image_tag("g_icon.png"), articles_path %>
    <p class="navbar-text">
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to 'Profile', edit_user_registration_path, :class => 'navbar-link' %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path, :class => 'btn'  %>
        <%= link_to "Get started", new_user_registration_path, :class => 'btn btn-outline-dark'  %>
      <% end %>
    </p>
  </div>
</header>

<div class="container">
  <% count = 1 %>
  <div class="row">
    <% @articles.each do |article| %>
      <div class="col-sm-4">
        <img src="" class="article-thumbnail">
        <h3><%= link_to article.title, article_path(article), class: "article-card-title mx-2" %></h3>
        <p class="article-card-text mx-2"><%= article.text %></p>
      </div>
      <% if count % 3 == 0 %>
        </div>
        <div class="row">
      <% end %>
      <!-- continue on -->
      <% count += 1 %>
    <% end %>
  </div>
</div>