<!DOCTYPE html>
<html>
  <head>
    <title>Geoff's Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="container">
    <header>
      <div class="jumbotron bg-dark rounded text-white mt-2">
        <div class="col text-center">
          <h1><%= link_to "Geoff's blog", articles_path %></h1>
          <!--<p>
            Spud's blog
          </p>-->
        </div>
      </div>
    </header>

    <body>
      <%= yield %>
    </body>

    <footer>
      <div class="row">
        <div class="col text-center">
        <p>
          Blog example from this <a href="https://guides.rubyonrails.org/getting_started.html">"Getting Started with Rails" tutorial</a><br>Using Bootstrap for improved looks :)
        </p>
      </div>
    </footer>
  </div>
</html>
